/* Colors: yellow = #ffc425, brown = #2F241D*/

:root {
  --logo-yellow: #ffc425;
  --logo-brown: #2f241d;
}

.intro-container {
  width: 100%;
  padding: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: white;
  background-image: url("../assets/parking_lot_wcar-transformed.jpeg");
  background-size: cover;
  background-position: center;
}

.row {
  width: 100%;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.intro-text-column {
  text-align: center;
  text-shadow: 2px 2px 0 var(--logo-brown), -2px -2px 0 var(--logo-brown),
    2px -2px 0 var(--logo-brown), -2px 2px 0 var(--logo-brown);
  color: var(--logo-yellow);
  font-family: "Squada One", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  animation: slideIn 1.5s ease-in-out;
}

.request-container {
  width: 100%;
  margin: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
}

.request-text-column {
  text-align: center;
  color: var(--logo-brown);
  font-family: "Squada One", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  animation: slideIn 1.5s ease-in-out;
}

.experience-container {
  width: 100%;
  padding: 0px;
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--logo-brown);
}

.experience-text-column {
  text-align: center;
  color: white;
  font-family: "Squada One", sans-serif;
  padding-left: 100px;
  padding-right: 100px;
  animation: slideIn 1.5s ease-in-out;
}

.experience-button {
  background-color: var(--logo-yellow);
  border-color: var(--logo-yellow);
  text-decoration: none;
  color: var(--logo-brown);
}

.contact-a {
  text-decoration: none;
  color: var(--logo-brown);
}

@keyframes slideIn {
  0% {
    transform: translateX(-25%);
    opacity: 0;
  }
  50% {
    transform: translateX(0%);
    opacity: 1;
  }
}
